@import "_nullstyle";
@import "_fonts";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

$message_color: #5d5fef;
$border_color: #a5a6f6;
$btm_color: #7879f1;
$active_color: #e1e2ff;
$dark: #333333;
$grey: #aaaaaa;

body {
    font-family: "Roboto", sans-serif;
    color: $message_color;
}

header {
    height: 80px;
    background: $message_color;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__notifications {
        margin-right: 40px;
    }

    &__profile {
        margin-right: 40px;
    }
}
main {
    display: flex;
    flex-direction: row;
    margin: 40px 0;
    height: calc(100% - 165px);
}
.nav-chats {
    width: 250px;
    padding: 0 10px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &__item {
        margin-bottom: 10px;
        padding: 6px 6px 6px 19px;
        height: 38px;
        box-shadow: 0px 0px 4px $active_color;
        border-radius: 5px;
        @extend %Roboto_fz15_500;
        letter-spacing: 0.46px;
        display: flex;
        justify-content: space-between;
    }
    &__item_edit {
        background: $active_color;
        @extend %Roboto_fz15_500;
        color: #c32ad7;
    }

    &__item_active {
        background: $active_color;
    }

    &__btn {
        display: flex;
        flex-direction: row;
    }

    &__btn > div {
        opacity: 0.1;
    }

    &__btn > div:hover {
        transition: opacity 0.6s;
        opacity: 1;
    }

    &__btn-add {
        min-width: 50px;
        height: 40px;
        color: #fff;
        @extend %Roboto_fz14_700;
        background: $btm_color;
        border-radius: 10px;
        align-self: flex-end;
        padding: 0 10px;
    }

    &__btn-add:hover {
        box-shadow: 0 0 3px 0 #070855;
    }

    &__btn-add:active {
        box-shadow: 0 0 7px 0 #070855;
    }
}
.messages-box {
    height: auto;
    border: 1px solid $active_color;
    border-radius: 20px;
    margin-right: 50px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: space-between;
}
.communication {
    flex-grow: 2;
    overflow: auto;
    display: none;

    &_active {
        display: block;
    }
}
.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    &__name {
        @extend %Roboto_fz14_500;
        color: $dark;
        margin-bottom: 10px;
    }

    &__date {
        @extend %Roboto_fz10_100;
        color: $dark;
    }

    &__text {
        @extend %Roboto_fz12_400;
        padding: 8px 12px;
        border: 1px solid $border_color;
        border-radius: 10px;
        margin: 8px 0;
    }

    &__delete {
        margin: 0 8px;
    }

    &__wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
}
.like {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    &__counter {
        @extend %Roboto_fz10_400;
        color: $dark;
        margin-left: 5px;
    }

    &__svg_active {
        fill: $active_color;
    }
}

.letter {
    margin-top: 30px;
    width: calc(100% - 48px);
    &__box {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__name {
        @extend %Roboto_fz12_400;
        color: $message_color;
        padding: 8px 12px;
        border: 1px solid $border_color;
        border-radius: 10px;
        margin-right: 10px;
        width: 200px;
    }

    &__name:focus {
        box-shadow: 0 0 3px 0 #070855;
    }

    &__name::placeholder {
        @extend %Roboto_fz12_400;
        color: $grey;
    }

    &__checkbox {
        margin-left: 40px;
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__checkbox-text {
        @extend %Roboto_fz12_400;
        margin-left: 10px;
        color: $dark;
    }

    &__date {
        @extend %Roboto_fz12_400;
        color: $dark;
    }

    &__send {
        width: 105px;
        height: 40px;
        color: #fff;
        @extend %Roboto_fz14_700;
        background: $btm_color;
        border-radius: 10px;
    }

    &__send:hover {
        box-shadow: 0 0 3px 0 #070855;
    }

    &__send:active {
        box-shadow: 0 0 7px 0 #070855;
    }

    &__text {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    &__text textarea {
        @extend %Roboto_fz12_400;
        color: $message_color;
        padding: 8px 12px;
        border: 1px solid $border_color;
        border-radius: 10px;
        width: 100%;
        resize: none;
        white-space: pre;
    }

    &__text textarea:focus {
        box-shadow: 0 0 3px 0 #070855;
    }

    &__text textarea::placeholder {
        @extend %Roboto_fz12_400;
        color: $grey;
    }

    &__validation {
        @extend %Roboto_fz12_400;
        color: $grey;
    }
    &__wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.checkbox-group {
    position: relative;
    width: 48px;
    height: 24px;

    &__checkbox {
        visibility: hidden;
    }

    &__label {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $grey;
        position: absolute;
        top: 6px;
        z-index: 2;
        left: 6px;
        transition: all 0.4s ease;
        cursor: pointer;
    }

    &__check {
        position: absolute;
        top: 8px;
        left: 9px;
        z-index: 1;
        visibility: hidden;
    }

    &__background {
        position: absolute;
        left: 0;
        top: 0;
        width: 48px;
        height: 24px;
        border: 2px solid $grey;
        border-radius: 12px;
        transition: all 0.4s ease;
    }

    &__checkbox:checked ~ &__check {
        visibility: visible;
    }

    &__checkbox:checked ~ &__background {
        background: $btm_color;
        border: 2px solid $btm_color;
    }

    &__checkbox:checked ~ &__label {
        left: 30px;
        background-color: #ffffff;
    }
}
